  <%= stylesheet_link_tag "application.css" %>

  <%= stylesheet_link_tag "ui.multiselect.css" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag('plugins/localisation/jquery.localisation-min', 'plugins/scrollTo/jquery.scrollTo-min', 'ui.multiselect', 'themeswitchertool') %>
<% end %>


<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
        $.localise('ui-multiselect', {/*language: 'en',*/ path: 'locale/'});
        $(".multiselect").multiselect();
        $('#switcher').themeswitcher();
    });
  </script>
<% end %>

  <%
      page_ids=[]
      @menu_block.menu_pages.each{ |val| page_ids << val.page_id }
      all_page_ids_selected={}
      all_page_ids_unselected={}
      tmp=all_children_for_id(nil,0)

      page_ids.each {|val| all_page_ids_selected[val] = tmp[val]; all_page_ids_selected[val][:selected] = true }

      all_page_ids_unselected=tmp.select{|key,val| !page_ids.include?(key) }

      all_page_ids=all_page_ids_selected.merge( all_page_ids_unselected )

  %>


<%= form_for [:admin, @menu_block] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @menu_block,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title  -%>
  </div>
  
  <div class='field'>
    <%= f.label :deletable -%>
    <%= f.text_field :deletable  -%>
  </div>

  <div class='field'>
    <%= f.label :pages -%>
      <select id="menu_block_page_id" class="multiselect" multiple="multiple" name="menu_pages[]">
    <%  all_page_ids.each_value do |val| %>
        <option value="<%= val[:id] %>" <%= 'selected="selected"'.html_safe if val[:selected] %> ><%= '--'*val[:level] + ' ' + val[:title] %></option>
    <% end %>
      </select>


    <!-- <br><div id="switcher"></div> -->
  </div>

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.menu_blocks.menu_block'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @menu_block.name)
              } %>
<% end -%>
