<!DOCTYPE html>
<html>
  <%= render :partial => "/shared/head" %>
<body>
  <%= render :partial => "/shared/header" %>

  <%= yield %>

  <%= render :partial => "/shared/links_block" %>

  <%= render :partial => "/shared/footer" %>
</body>
</html>
